
<div class="center jumbotron" style="background-image: url(<%= asset_path'bg_3.jpg' %>); background-size: 151%; height: 500px; background-repeat: no-repeat;">
  <h1>Welcome to Roy's Place</h1>
  <br>
  <% provide(:title, "Home") %>
  <% if !logged_in? %>
 <%= link_to "Register to Order Pickup or Delivery!", signup_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <% end %>

  <%= link_to "Schedule your Booking", newreservation_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("roysplacelogo.png", alt: "Roy's Place logo"),
'http://roysplace.com/' %>

