<div class = "row">
  <div class ="col-md-3 leftsignup">
    <div class="center jumbotron" style="background-image: url(<%= asset_path'deliveryorpickup.jpg' %>); background-size: 100%; height: 500px;">

      <p><strong> This column is for pictures of place, food, and specialsl
      </strong></p>
    </div>
  </div>
