<% provide(:title, "Login User") %>
<h1>Customer Log In</h1>
<div class = "container">
  <%= render 'sessions/user_login_first_column' %>
  <%= render 'sessions/user_login_second_column' %>
</div>
  

  
  