<div class = "container">
<div class = "row">
  <div class ="col-md-3 leftsignup">
    <p><strong> This column is for pictures of place, food, and specialsl
    foodsf
  simple_form_forfs
  <section>simple_form_forfss
  simple_form_forfsssf
simple_form_forfsssfsf
simple_form_forfsssfsfsf
font-size</section></strong></p>
  </div>

  
    <div class="container">
      <div class="row"> 
        <div class= "col-md-9 rightsignup">    
            <%= render 'users/new_partials/signup_form_first' %>
        </div>
      </div>
    </div>
</div>
</div>