<% provide(:title, 'Add Customer') %>
<% provide(:button_text, 'Save Customer') %>
<% provide(:path, admin_create_customer_path) %> 

<h1>Only an admin can create a user here.</h1>
<%= render 'admin/partials/user_basic_info' %>