@import "bootstrap-sprockets";
@import "bootstrap";


body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.6;
  color: #b8b8b8;

}



h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}




.btn {
  border-radius: 4px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

.btn.btn-lg {
  font-size: 16px !important;
  padding: 13px 40px !important;
}

.btn.btn-sm {
  padding: 10px 20px;
  font-size: 12px;
}

.btn.btn-primary {
  border-radius: 0px;
}

.btn.btn-secondary {
  border: 2px solid #ccc;
  background: none;
  border-radius: 0px;
  color: #999999;
}

.btn.btn-secondary:hover {
  background: #FDA403;
  border-color: #FDA403;
  color: #fff;
}

.btn:before {
  display: none;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #FDA403;
  border-color: #FDA403;
  color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  border-color: #cb8402;
  background: #cb8402;
}

.btn.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.8);
  background: none;
  border-radius: 0px;
  border-width: 2px;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.form-control {
  border: none;
  height: 55px !important;
  background: #e6e6e6 !important;
  color: #000 !important;
  font-size: 18px;
  border-radius: 0px;
}

textarea.form-control {
  height: inherit !important;
}






/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar ul li{
  float: left; 
  width: 110px;
  height: 40px;
  backgroud-color: black;
  opacity: .9;
  line-heigh: 40px;
  text-align: left;
  font-size: 13px;
}

.navbar ul li a {
  color:  gray blue;
}

.navbar ul li a:hover{
  background-color: yellow;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {  
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;

}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*Announcements */
.announcement p{
  font-family: Tahoma;
  font-style: italic;
  width: 67%;
}

  


/*Set up the columns with a 100% height, body color and overflow scroll*/


.leftsignup{
  float:left;
  width: 30%;
  padding: 1px;
 
}

.rightsignup{
  float: left;
  width: 70%;
  padding: 1px;
  
}



.logoHome {
  background-image: image-url('app/assets/images/bg_3.jpg');
}






